@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root{    
--Blue: hsl(223, 87%, 63%);
--Pale-Blue: hsl(223, 100%, 88%);
--Light-Red: hsl(354, 100%, 66%);
--Gray: hsl(0, 0%, 59%);
--Very-Dark-Blue: hsl(209, 33%, 12%);
--white:#fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Libre Franklin', sans-serif;
    Font-size: 20px;
}

.main-container{
margin: 85px auto 60px 
}

.Logo{
    width:52px;
    display: block;
    margin: 0 auto 40px;
}

h1{
    font-size: 1.2em;
    font-weight: 300;
    color:var(--Gray);
    text-align: center;
    margin-bottom: 16px;
}

h1 span{
    color: var(--Very-Dark-Blue);
    font-weight: 700;
}

.subscribe{
    text-align: center;
    font-size: 0.65em;
    margin-bottom: 36px;
}

form{
    width: 282px;
    margin: auto;
}

input[type="email"]{
    width:100%;
    height: 40px;
    border-radius: 32px;
    border:1px solid var(--Pale-Blue);
    padding-left: 24px;
}

input[type="email"]:focus{
    outline: none;
}

.error{
    color: var(--Light-Red);
    font-style: italic;
    font-size: 0.65em;
    text-align: center;
    margin: 0 0 20px;
    visibility: hidden;
}

input[type="submit"] {
    background-color: var(--Blue);
    color:var(--white);
    width: 100%;
    height: 40px;
    border-radius: 32px;
    border: none;
    font-weight: 700;
    margin-bottom:70px;
    box-shadow: 3px 3px 5px var(--Blue);
    cursor: pointer;
}

.dashboard{
    width: 322px;
    display: block;
    margin: auto;
    margin-bottom: 120px;
}

.social-container{
    width: 150px;
    margin: 0 auto 30px;
    display: flex;
    justify-content: space-between;
}

.icon-container{
    width:32px;
    height: 32px;
    border:1px solid var(--Blue);
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
}

.fa-brands{
    font-size: 1em;
    color: var(--Blue);
}

.icon-container:hover{
    background-color: var(--Blue);
}

.icon-container:hover .fa-brands{
    color: var(--white);
}

.copy{
    text-align: center;
    color:var(--gray);
    font-size: 0.6em;
}

.attribution {
    font-size: 11px; text-align: center;
    margin-bottom: 10px;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}

/* Desktop */

@media(min-width:700px){
    .Logo{
        width:96px;
        margin-bottom: 60px;
    }
    h1{
        font-size: 2.5em;
    }
    .subscribe{
        font-size: 1.05em;
        font-weight: 300;
    }

    form{
        width: 630px;
        display: flex;
        justify-content: space-between;
    }

    input[type="email"]{
        width:420px;
        height: 55px;
        font-size: 0.8em;
        margin-bottom: 8px;
    }

    .error{
        text-align: left;
        padding-left: 24px;
    }

    input[type="submit"]{
        width: 200px;
        height: 55px;
        margin-bottom: 90px;
        font-size: 0.8em;
    }

    .dashboard{
        width: 640px;
        margin-bottom: 74px;
    }

}